<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Edit user</title>
</head>
<body>
<h1>Edit user</h1>
<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{firstName}" id="name"/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{lastName}" id="age"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
<!--    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</div>-->
    <br/>
    <input type="submit" value="Update!"/>
</form>

<!--<form method="POST" action="/edit" object="user">-->
<!--    <label for="name">Enter name: </label>-->
<!--    <input type="text" field="firstName" id="id" th:value="${user}"/>-->
<!--    <label for="last_name">Enter Last Name: </label>-->
<!--    <input type="text" th:field="*{user.lastName}" id="last_name"/>-->
<!--    <label for="email">Enter Email: </label>-->
<!--    <input type="text" th:field="*{user.email}" id="email"/>-->
<!--    <br/>-->
<!--    <input type="submit" value="Create!"/>-->
<!--</form>-->

</body>
</html>